@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

$main-font: "Manrope", sans-serif;
/*----colors----*/
$dark: #6d7f97;
$light: #fffff5;
$main-bg: #ecf2f8;
$shadow: #e6e6e6;
$primary: #48556a;
$secondary: #9eafc2;
