@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

$main-font: "Poppins", sans-serif;
/*----colors----*/
$light: #fffff5;
$dark: #3e3c49;
$primary: #ff7a7a;
$shadow: #3e3c493d;
$cta-bg: #38cc8c;
$cta-shadow: #27b87a;
$accent: #6055a5;
$grey: #b9b6d3;
