@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/*----colors----*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

::selection {
  background-color: #3e3c49;
  color: #fffff5;
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* (Opcional) */
  appearance: none;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: "Poppins", sans-serif;
  color: #3e3c49;
}

body {
  background: url(../images/bg-intro-mobile.png), #ff7a7a;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
  text-align: center;
}
.main__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #fffff5;
  padding: 4rem 0;
  width: 100%;
}
.main__title {
  font-size: 1.8em;
  font-weight: 700;
}
.main__paragraph {
  font-size: 1.1em;
  font-weight: 500;
}
.main__paragraph--offer {
  color: #fffff5;
  font-weight: 300;
  background: #6055a5;
  padding: 1.5rem 3rem;
  border-radius: 0.6rem;
  width: 100%;
  box-shadow: 0 0.4rem 0 rgba(62, 60, 73, 0.2392156863);
}
.main__span {
  font-weight: 700;
}
.main__offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.main__form {
  background: #fffff5;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.4rem;
  width: 100%;
  gap: 1rem;
  box-shadow: 0 0.4rem 0 rgba(62, 60, 73, 0.2392156863);
}
.main__input {
  border: 1px solid #b9b6d3;
  border-radius: 0.4rem;
  height: 3rem;
  width: 100%;
  padding: 1rem;
  color: #3e3c49;
  font-weight: 600;
  outline: none;
}
.main__cta {
  background: #38cc8c;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: #fffff5;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 0.4rem;
  box-shadow: 0 0.3rem 0 #27b87a;
}
.main__cta:hover {
  filter: brightness(1.1) saturate(0.8);
}
.main__paragraph--form {
  color: #b9b6d3;
  font-weight: 300;
  font-size: 0.8em;
}
.main__link {
  color: #ff7a7a;
  font-weight: 600;
}
.main__link:hover {
  color: #6055a5;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.footer__paragraph {
  color: #fffff5;
  font-size: 0.6em;
}
.footer__link {
  font-weight: 600;
}
.footer__link:hover {
  color: #6055a5;
}

[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}

[data-title]:after {
  content: attr(data-title);
  background: #fffff5;
  color: #ff7a7a;
  font-size: 14px;
  font-family: Raleway;
  position: absolute;
  top: -1.5rem;
  left: 1rem;
  padding: 0 0.3rem;
  white-space: nowrap;
  opacity: 0;
  z-index: 99999;
  visibility: hidden;
  border-radius: 6px;
}

[data-title] {
  position: relative;
}

@media (min-width: 768px) {
  body {
    background: url(../images/bg-intro-desktop.png), #ff7a7a;
    justify-content: center;
  }
  .main {
    flex-direction: row;
    padding: 2rem;
    gap: 2rem;
  }
  .main__info {
    text-align: start;
  }
  .main__title {
    font-size: 3em;
  }
}
@media (min-width: 1024px) {
  .main {
    gap: 6rem;
    max-width: 70rem;
  }
  .footer__paragraph {
    font-size: 1em;
  }
}

/*# sourceMappingURL=style.css.map */
